.App {
    background-color: #282d33;
    color: white;
    min-height: 100vh;
}

.text-ellipsis {
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.search-box {
    padding: .8rem 1.6rem;
    border-radius: 30px;
}

.badge {
    font-weight: 500
}